<nav>
  <%= link_to "文字", articles_path %>
  <%= link_to "关于", about_path %>
  <%= link_to "联系我", contact_path %>
  <%= link_to "Feed", feed_path %>
  <%= link_to "GitHub", "https://github.com/alivin" %>
</nav>
<hr>